<h1 class="alert alert-primary text-center">Welcome to Nasted Routing</h1>
<div class="container-fluid">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVw2PX7dLhwG1IOWxFOvqWUx3FqVi8J8Oz4A&usqp=CAU" style="height: 300px; width: 1510px;">
<div style="margin-left: 150px;" class="container text-center my-3 ">
<button routerLink="register" class="btn btn-primary">Sign UP</button><span>&nbsp;</span>
<button routerLink="login" class="btn btn-primary">Sign IN</button><span>&nbsp;</span>
</div>
</div>